.list-item {
  padding: 20px;
  display: flex;
  flex-direction: row;

  border-style: solid;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .list-item {
    width: 30%;
  }
}

.details-image {
  height: 110px;
  width: 110px;
  margin-right: 30px;
}

.balance {
  background-color: #ecfccb;
  border-color: #84cc16;
}

.income {
  background-color: #cffafe;
  border-color: #06b6d4;
}

.expenses {
  background-color: #ede9fe;
  border-color: #7c3aed;
}

.text {
  color: #7e858e;
}

.amount {
  color: #7e858e;
  font-weight: 700;
  font-size: 25px;
}
